## Generate synthetic data [needs work in course selection algortihm]
## convert text to numeric using tfidf [not used currently]

In [34]:
import pandas as pd
pd.set_option('display.max_columns', None) 
from os import listdir
import os
import glob
import spacy
from collections import Counter
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import spacy
from spacy.training import Example
from spacy.util import minibatch, compounding
from sklearn.model_selection import train_test_split
from spacy.scorer import Scorer
import re
import nlp
#https://chat.openai.com/share/c141bbaf-9fa9-41df-b29a-68653cfafd48

[nltk_data] Downloading package stopwords to /Users/nyzy/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [35]:
df_c_cleaned = pd.read_csv("/Users/nyzy/Library/CloudStorage/GoogleDrive-nitinmali999@gmail.com/.shortcut-targets-by-id/1yEbTjc1DwwTDd2CB86Il6F-3DhFUn8pU/Data Mining/data/processed_datasets/course_cleaned.csv")
df_c_cleaned=df_c_cleaned.rename(columns={"Unnamed: 0":"course_number"})
df_j_cleaned=pd.read_csv("/Users/nyzy/Library/CloudStorage/GoogleDrive-nitinmali999@gmail.com/.shortcut-targets-by-id/1yEbTjc1DwwTDd2CB86Il6F-3DhFUn8pU/Data Mining/data/processed_datasets/job_cleaned_salary.csv")
df_s_skills_list = pd.read_csv("/Users/nyzy/Library/CloudStorage/GoogleDrive-nitinmali999@gmail.com/.shortcut-targets-by-id/1yEbTjc1DwwTDd2CB86Il6F-3DhFUn8pU/Data Mining/data/processed_datasets/skills_dataset/skills_list_df.csv")

skills_list = df_s_skills_list["skills_list"].unique().tolist()

In [36]:
#filtering unmatched rows
df_j_cleaned = df_j_cleaned[df_j_cleaned["title_cleaned"]!="unmatched"]
#df_j_cleaned[df_j_cleaned["title_cleaned"]=="unmatched"].to_csv("/Users/nyzy/Library/CloudStorage/GoogleDrive-nitinmali999@gmail.com/.shortcut-targets-by-id/1yEbTjc1DwwTDd2CB86Il6F-3DhFUn8pU/Data Mining/data/processed_datasets/job_title_unmatched.csv")

In [37]:
# Loading the JSON file back into a dictionary
import json
Job_progression_dictionary_file_path = "/Users/nyzy/Library/CloudStorage/GoogleDrive-nitinmali999@gmail.com/.shortcut-targets-by-id/1yEbTjc1DwwTDd2CB86Il6F-3DhFUn8pU/Data Mining/data/processed_datasets/job_progression_dictionary.json"

with open(Job_progression_dictionary_file_path, 'r') as json_file:
    sorted_full_job_progression_dict_lower = json.load(json_file)

print(sorted_full_job_progression_dict_lower)
# Output: {'name': 'John', 'age': 30, 'city': 'New York'}

{'ai architect': ['ai project manager', 'head of ai', 'chief ai officer'], 'ai developer': ['senior ai developer', 'ai architect', 'ai project manager', 'head of ai', 'chief ai officer'], 'ai project manager': ['head of ai', 'chief ai officer'], 'big data architect': ['head of big data', 'director of data engineering', 'chief information officer'], 'big data engineer': ['senior big data engineer', 'big data architect', 'head of big data', 'director of data engineering', 'chief information officer'], 'business analysis manager': ['business intelligence analyst', 'director of business analysis', 'chief strategy officer', 'data analyst', 'data scientist'], 'business analyst': ['senior business analyst', 'business analysis manager', 'business intelligence analyst', 'director of business analysis', 'chief strategy officer', 'data analyst', 'data scientist'], 'business intelligence analyst': ['senior business intelligence analyst', 'business intelligence manager', 'director of business intelligence', 'vice president of business intelligence', 'chief intelligence officer'], 'business intelligence manager': ['director of business intelligence', 'vice president of business intelligence', 'chief intelligence officer'], 'chief ai officer': [], 'chief data officer': [], 'chief data scientist': [], 'chief information officer': [], 'chief intelligence officer': [], 'chief product officer': ['big data engineer', 'senior big data engineer', 'big data architect', 'head of big data', 'director of data engineering', 'chief information officer'], 'chief science officer': [], 'chief strategy officer': [], 'chief technology officer': [], 'data analyst': ['data engineer', 'senior data engineer', 'lead data engineer', 'data architect', 'senior data architect', 'enterprise architect', 'product analyst', 'data product manager', 'senior data product manager', 'director of product management', 'vice president of product', 'chief product officer', 'big data engineer', 'senior big data engineer', 'big data architect', 'head of big data', 'director of data engineering', 'chief information officer', 'machine learning engineer'], 'data architect': ['data manager', 'director of analytics', 'chief data officer'], 'data engineer': ['senior data engineer', 'lead data engineer', 'data architect', 'data manager', 'director of analytics', 'chief data officer'], 'data engineering manager': ['director of data engineering', 'chief technology officer'], 'data manager': ['director of analytics', 'chief data officer'], 'data pipeline architect': ['data engineering manager', 'director of data engineering', 'chief technology officer'], 'data product manager': ['senior data product manager', 'director of product management', 'vice president of product', 'chief product officer', 'big data engineer', 'senior big data engineer', 'big data architect', 'head of big data', 'director of data engineering', 'chief information officer'], 'data science manager': ['director of data science', 'vice president of data science', 'chief data scientist'], 'data scientist': ['senior data scientist', 'lead data scientist', 'principal data scientist', 'data science manager', 'director of data science', 'vice president of data science', 'chief data scientist'], 'database administrator': ['senior database administrator', 'database manager', 'data architect', 'director of database management', 'chief information officer'], 'database manager': ['data architect', 'director of database management', 'chief information officer'], 'director of analytics': ['chief data officer'], 'director of business analysis': ['chief strategy officer'], 'director of business intelligence': ['vice president of business intelligence', 'chief intelligence officer'], 'director of data engineering': ['chief technology officer'], 'director of data science': ['vice president of data science', 'chief data scientist'], 'director of database management': ['chief information officer'], 'director of product management': ['vice president of product', 'chief product officer', 'big data engineer', 'senior big data engineer', 'big data architect', 'head of big data', 'director of data engineering', 'chief information officer'], 'director of quantitative research': [], 'director of research': ['chief science officer'], 'enterprise architect': ['product analyst', 'data product manager', 'senior data product manager', 'director of product management', 'vice president of product', 'chief product officer', 'big data engineer', 'senior big data engineer', 'big data architect', 'head of big data', 'director of data engineering', 'chief information officer'], 'head of ai': ['chief ai officer'], 'head of big data': ['director of data engineering', 'chief information officer'], 'head of machine learning': ['chief ai officer'], 'junior ai developer': ['ai developer', 'senior ai developer', 'ai architect', 'ai project manager', 'head of ai', 'chief ai officer', 'machine learning engineer', 'data engineer'], 'junior business analyst': ['business analyst', 'senior business analyst', 'business analysis manager', 'business intelligence analyst', 'director of business analysis', 'chief strategy officer', 'data analyst', 'data scientist'], 'junior data analyst': ['data analyst', 'senior data analyst', 'data engineer', 'senior data engineer', 'lead data engineer', 'data architect', 'data manager', 'director of analytics', 'chief data officer', 'business intelligence analyst', 'machine learning engineer', 'big data engineer'], 'junior data engineer': ['data engineer', 'senior data engineer', 'data pipeline architect', 'data engineering manager', 'director of data engineering', 'chief technology officer', 'machine learning engineer', 'big data engineer'], 'junior data scientist': ['data scientist', 'senior data scientist', 'lead data scientist', 'principal data scientist', 'data science manager', 'director of data science', 'vice president of data science', 'chief data scientist', 'data engineer', 'ai developer'], 'junior database administrator': ['database administrator', 'senior database administrator', 'database manager', 'data architect', 'director of database management', 'chief information officer'], 'junior statistician': ['statistician', 'senior statistician', 'quantitative analyst', 'senior quantitative analyst', 'quantitative research manager', 'director of quantitative research', 'data analyst', 'data scientist'], 'lead data engineer': ['data architect', 'data manager', 'director of analytics', 'chief data officer'], 'lead data scientist': ['principal data scientist', 'data science manager', 'director of data science', 'vice president of data science', 'chief data scientist'], 'machine learning architect': ['machine learning manager', 'head of machine learning', 'chief ai officer'], 'machine learning engineer': ['senior machine learning engineer', 'machine learning architect', 'machine learning manager', 'head of machine learning', 'chief ai officer'], 'machine learning manager': ['head of machine learning', 'chief ai officer'], 'principal data scientist': ['data science manager', 'director of data science', 'vice president of data science', 'chief data scientist'], 'principal scientist': ['director of research', 'chief science officer'], 'product analyst': ['data product manager', 'senior data product manager', 'director of product management', 'vice president of product', 'chief product officer', 'big data engineer', 'senior big data engineer', 'big data architect', 'head of big data', 'director of data engineering', 'chief information officer'], 'quantitative analyst': ['senior quantitative analyst', 'quantitative research manager', 'director of quantitative research'], 'quantitative research manager': ['director of quantitative research'], 'research analyst': ['research scientist', 'senior research scientist', 'principal scientist', 'director of research', 'chief science officer'], 'research assistant': ['research analyst', 'research scientist', 'senior research scientist', 'principal scientist', 'director of research', 'chief science officer', 'data scientist', 'statistician'], 'research scientist': ['senior research scientist', 'principal scientist', 'director of research', 'chief science officer'], 'senior ai developer': ['ai architect', 'ai project manager', 'head of ai', 'chief ai officer'], 'senior big data engineer': ['big data architect', 'head of big data', 'director of data engineering', 'chief information officer'], 'senior business analyst': ['business analysis manager', 'business intelligence analyst', 'director of business analysis', 'chief strategy officer', 'data analyst', 'data scientist'], 'senior business intelligence analyst': ['business intelligence manager', 'director of business intelligence', 'vice president of business intelligence', 'chief intelligence officer'], 'senior data analyst': ['data engineer', 'senior data engineer', 'lead data engineer', 'data architect', 'data manager', 'director of analytics', 'chief data officer', 'machine learning engineer', 'big data engineer'], 'senior data architect': ['enterprise architect', 'product analyst', 'data product manager', 'senior data product manager', 'director of product management', 'vice president of product', 'chief product officer', 'big data engineer', 'senior big data engineer', 'big data architect', 'head of big data', 'director of data engineering', 'chief information officer'], 'senior data engineer': ['lead data engineer', 'data architect', 'data manager', 'director of analytics', 'chief data officer'], 'senior data product manager': ['director of product management', 'vice president of product', 'chief product officer', 'big data engineer', 'senior big data engineer', 'big data architect', 'head of big data', 'director of data engineering', 'chief information officer'], 'senior data scientist': ['lead data scientist', 'principal data scientist', 'data science manager', 'director of data science', 'vice president of data science', 'chief data scientist'], 'senior database administrator': ['database manager', 'data architect', 'director of database management', 'chief information officer'], 'senior machine learning engineer': ['machine learning architect', 'machine learning manager', 'head of machine learning', 'chief ai officer'], 'senior quantitative analyst': ['quantitative research manager', 'director of quantitative research'], 'senior research scientist': ['principal scientist', 'director of research', 'chief science officer'], 'senior statistician': ['quantitative analyst', 'senior quantitative analyst', 'quantitative research manager', 'director of quantitative research'], 'statistician': ['senior statistician', 'quantitative analyst', 'senior quantitative analyst', 'quantitative research manager', 'director of quantitative research'], 'vice president of business intelligence': ['chief intelligence officer'], 'vice president of data science': ['chief data scientist'], 'vice president of product': ['chief product officer', 'big data engineer', 'senior big data engineer', 'big data architect', 'head of big data', 'director of data engineering', 'chief information officer']}

In [38]:
import pandas as pd
import random
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import ast
# Assuming you have the following data loaded into pandas DataFrames
# jobs_df = pd.DataFrame({'Job': ['Data Analyst', 'Data Scientist', ...], 'Skills': [['SQL', 'Python'], ['Machine Learning', 'Python', 'SQL'], ...]})
# courses_df = pd.DataFrame({'Course': ['Intro to Python', 'Advanced Machine Learning', ...], 'Skills_Taught': [['Python'], ['Machine Learning', 'Deep Learning'], ...]})
# skills_df = pd.DataFrame({'Skill': ['Python', 'SQL', 'Machine Learning', ...]})
# A simple function to select a random job and its required skills


def select_random_job(jobs_df):
    random_idx = random.randint(0, len(jobs_df) - 1)
    random_job = jobs_df.iloc[random_idx]
    return random_job.title_cleaned, random_job.skills_tagged,random_job.normalized_min,random_job.normalized_max


def select_next_job(current_job, jobs_df, set_job_unique,job_progression_dict):
    next_job,next_skills,random_job_selection_flag="","",0
    # If the current job is in the progression dict, select the next job from there
    if current_job in job_progression_dict:
        next_jobs = job_progression_dict[current_job]
        #next_jobs=list(set_job_unique.intersection(set(next_jobs)))
        if len(next_jobs)!=0:
            next_job_flag = True
            i=0
            while next_job_flag and i<len(next_jobs):
                if next_jobs[i] in set_job_unique:
                    next_job = next_jobs[i]
                    next_job_flag=False
                i+=1
            if next_job_flag==False:
                #next_job = random.choice(next_jobs)
                #print(next_job, " choosen")
                try:
                    #next_skills = jobs_df[jobs_df['title_cleaned'] == next_job]['skills_tagged'].values[0]
                    next_skills_rows = jobs_df[jobs_df['title_cleaned'] == next_job]
                    if not next_skills_rows.empty:
                        random_row = next_skills_rows.sample(n=1)
                        next_skills = random_row['skills_tagged'].values[0]
                except:
                    next_job = random.choice(next_jobs)
                    #next_skills = jobs_df[jobs_df['title_cleaned'] == next_job]['skills_tagged'].values[0]
                    next_skills_rows = jobs_df[jobs_df['title_cleaned'] == next_job]
                    if not next_skills_rows.empty:
                        random_row = next_skills_rows.sample(n=1)
                        next_skills = random_row['skills_tagged'].values[0]
            else:
                # If not, fall back to random selection for this example
                next_job, next_skills,_,_ = select_random_job(jobs_df)
                random_job_selection_flag=1
        else:
            next_job, next_skills,_,_ = select_random_job(jobs_df)
            random_job_selection_flag=1

    else:
        next_job, next_skills,_,_ = select_random_job(jobs_df)
        random_job_selection_flag=1
    return next_job, next_skills,random_job_selection_flag





# A simple function to select a course that teaches at least one of the required skills
def select_relevant_course(courses_df, required_skills):
    relevant_courses = courses_df[courses_df['Skills_Taught'].apply(lambda x: any(skill in x for skill in required_skills))]
    if not relevant_courses.empty:
        return relevant_courses.sample()
    return None


def calculate_course_score(course, skill_gap, weight_skill_match=1, weight_subscribers=0.001, weight_rating=0.5):
    # Calculate the proportion of skill gap covered by course
    skills_matched = sum(skill in course['skills_tagged'] for skill in skill_gap)
    skill_match_score = skills_matched / len(skill_gap) if skill_gap else 0

    # Factor in course popularity and rating
    #subscriber_score = course['num_subscribers'] * weight_subscribers if 'num_subscribers' in course else 0
    #rating_score = course['rating'] * weight_rating if 'rating' in course else 0

    # Calculate total score
    total_score = (skill_match_score * weight_skill_match) #+ subscriber_score + rating_score
    return total_score

tfidf_vectorizer = TfidfVectorizer()
tfidf_matrix = tfidf_vectorizer.fit_transform(df_c_cleaned["full_description"])

def calculate_similarity_score(skill_gap,df_c_cleaned):

    def preprocess_text(text):
        return " ".join(token.lemma_.lower() for token in nlp(text) if not token.is_punct and not token.is_stop)

    skill_gap_text = " ".join(skill_gap)
    # Vectorize the text

    skill_gap_vec = tfidf_vectorizer.transform([skill_gap_text])
    # Calculate cosine similarity
    cosine_similarities = cosine_similarity(skill_gap_vec, tfidf_matrix).flatten()
    df_c_cleaned["cosine_score"]=cosine_similarities
    return df_c_cleaned

def select_relevant_course(df_c_cleaned, skill_gap):
    # Apply the scoring function to each course
    df_c_cleaned['course_score'] = df_c_cleaned.apply(calculate_course_score, axis=1, skill_gap=skill_gap)
    df_c_cleaned = calculate_similarity_score(skill_gap,df_c_cleaned)
    # Sort courses based on the calculated score
    #df_c_cleaned = df_c_cleaned.sort_values(by='course_score', ascending=False)
    df_c_cleaned = df_c_cleaned.sort_values(by='cosine_score', ascending=False)
    # Select the top course if available
    top_course = df_c_cleaned.iloc[0] if not df_c_cleaned.empty else None
    top_10_course_number = df_c_cleaned["course_number"].iloc[0:10].tolist()
    top_10_course_number_score = {x:round(y,3) for x,y in zip(df_c_cleaned["course_number"].iloc[0:10].tolist(),df_c_cleaned["cosine_score"].iloc[0:10].tolist())}
    return top_course,top_10_course_number_score,top_10_course_number

# Select the most relevant course based on the skill gap
#relevant_course = select_relevant_course(df_c_cleaned, skill_gap)
#relevant_course.head()

# Generate synthetic user data
def generate_synthetic_data(jobs_df, courses_df, skills_df, num_samples=10):
    synthetic_data = []
    set_job_unique = set(jobs_df["title_cleaned"].unique())
    for _ in range(num_samples):
        #select_random_job(jobs_df)
        current_job, current_skills,current_min_salary,current_max_salary = select_random_job(jobs_df)
        # Select a job to progress to that requires at least one additional skill
        next_job, next_skills,random_job_selection_flag = select_next_job(current_job,jobs_df,set_job_unique,sorted_full_job_progression_dict_lower)
        #while set(next_skills).issubset(current_skills):
        #    next_job, next_skills = select_random_job(jobs_df)
        next_skills=ast.literal_eval(next_skills)
        current_skills=ast.literal_eval(current_skills)
        # Find the skill gap
        skill_gap = list(set(next_skills) - set(current_skills))
        #print(skill_gap)
        if  len(skill_gap)==0:
            skill_gap = list(next_skills)
        # Find a course that teaches one of the skills in the gap
        course,top_10_courses_score,top_10_courses_number = select_relevant_course(courses_df, skill_gap)
        #print(course)
        if course is not None:
            course_name = course.course_title
            course_skills = course.skills_tagged
            course_title = course.title
        else:
            # If no single course covers the gap, select a random one for this synthetic example
            course_name = "Random Course"
            course_skills = "Random Skill"

        if len(current_skills) and len(next_skills):
            # Append to the synthetic data list
            synthetic_data.append({
                'Current Job': current_job,
                'Next Job': next_job,
                'Current Skills': current_skills,
                'Next Skills': next_skills,
                'Skill Gap': skill_gap,
                'Current Min Salary':current_min_salary,
                'Current Max Salary':current_max_salary,
                'course title':course_title,
                'Course Taken': course_name,
                'Course Skills': course_skills,
                'top_10_course_numbers':top_10_courses_number,
                'top_10_course_score':top_10_courses_score,
                'random next job':random_job_selection_flag
            })
    
    
    return pd.DataFrame(synthetic_data)


# Generate synthetic user data
def generate_synthetic_next_job_data(jobs_df,courses_df,synthetic_user_data):
    synthetic_data = []
    set_job_unique = set(jobs_df["title_cleaned"].unique())
    for i,iterrow in synthetic_user_data.iterrows():
        #print(i, iterrow["Next Job"],iterrow["Next Skills"])
        #select_random_job(jobs_df)
        current_job, current_skills,current_min_salary,current_max_salary = iterrow["Next Job"],(iterrow["Next Skills"]),iterrow["Current Min Salary"],iterrow["Current Max Salary"]
        # Select a job to progress to that requires at least one additional skill
        next_job, next_skills,random_job_selection_flag = select_next_job(current_job,jobs_df,set_job_unique,sorted_full_job_progression_dict_lower)
        #while set(next_skills).issubset(current_skills):
        #    next_job, next_skills = select_random_job(jobs_df)
        next_skills=ast.literal_eval(next_skills)
        # Find the skill gap
        skill_gap = list(set(next_skills) - set(current_skills))
        #print(skill_gap)
        # Find a course that teaches one of the skills in the gap
        course,top_10_courses_score,top_10_courses_number = select_relevant_course(courses_df, skill_gap)
        #print(course)
        if course is not None:
            course_name = course.course_title
            course_skills = course.skills_tagged
            course_title = course.title
        else:
            # If no single course covers the gap, select a random one for this synthetic example
            course_name = "Random Course"
            course_skills = "Random Skill"
        
        if len(current_skills) and len(next_skills):
            # Append to the synthetic data list
            synthetic_data.append({
                'Current Job': current_job,
                'Next Job': next_job,
                'Current Skills': current_skills,
                'Next Skills': next_skills,
                'Skill Gap': skill_gap,
                'Current Min Salary':current_min_salary,
                'Current Max Salary':current_max_salary,
                'course title':course_title,
                'Course Taken': course_name,
                'Course Skills': course_skills,
                'top_10_course_numbers':top_10_courses_number,
                'top_10_course_score':top_10_courses_score,
                'random next job':random_job_selection_flag
            })
    
    return pd.DataFrame(synthetic_data)



# Generate the synthetic data
synthetic_user_data_v1 = generate_synthetic_data(df_j_cleaned, df_c_cleaned, skills_list,10000)
synthetic_user__next_data_v2 = generate_synthetic_next_job_data(df_j_cleaned, df_c_cleaned,synthetic_user_data_v1)
#synthetic_user_data = pd.concat([synthetic_user_data_v1,synthetic_user__next_data_v2],axis=0)
synthetic_user__next_data_v3 = generate_synthetic_next_job_data(df_j_cleaned, df_c_cleaned,synthetic_user__next_data_v2)
synthetic_user__next_data_v4 = generate_synthetic_next_job_data(df_j_cleaned, df_c_cleaned,synthetic_user__next_data_v3)
#synthetic_user_data = pd.concat([synthetic_user__next_data_v3,synthetic_user__next_data_v4],axis=0)
synthetic_user_data = pd.concat([synthetic_user_data_v1,synthetic_user__next_data_v2,synthetic_user__next_data_v3,synthetic_user__next_data_v4],axis=0)
#print(synthetic_user_data.head())

In [67]:
df_j_cleaned[50:100]

,Unnamed: 0.1,Unnamed: 0,company,truncatedCompany,companyRating,companyReviewCount,searched_title,title,title_cleaned,normTitle,min,max,type,snippet,jobDescription,skills_tagged,normalized_min,normalized_max
176,176,176,DataDrive,DataDrive,NaN,NaN,Data Architect,tableau architect,enterprise architect,Enterprise Architect,100000.000000,110000.000000,yearly,Including the ability to communicate data stru...,role overview tableau architect dynamic enviro...,"{'business reporting', 'data strategy', 'data ...",-0.194360,-0.197737
177,177,177,Visions in View Inc,Visions in View Inc,3.1,7.0,Data Architect,data architect,data architect,Data Warehouse Architect,124800.000000,145600.000000,yearly,Extensive experience on data engineering and m...,job description possess years data architectin...,"{'data migration', 'database systems', 'big da...",0.319459,0.533546
178,178,178,Capgemini,Capgemini,3.7,9764.0,Data Architect,data architect,data architect,Data Warehouse Architect,99712.000000,109712.000000,yearly,Work with multi-functional teams to implement ...,job description job title data architect locat...,"{'business requirements', 'http', 'postgresql'...",-0.200327,-0.203653
179,179,179,Delviom LLC,Delviom LLC,4.5,6.0,Data Architect,tableau architect,enterprise architect,Enterprise Architect,145600.000000,166400.000000,yearly,Develop and implement the initial Tableau User...,position tableau architect location remote dur...,set(),0.750405,0.960813
180,180,180,TASC Technical Services LLC,TASC Technical Services LLC,4.3,7.0,Data Architect,data center administrator,database administrator,Data Administrator,124800.000000,145600.000000,yearly,* Collaborate with cross-functional teams to p...,northrop grumman space systems linthicum md se...,"{'bitbucket', 'data migration', 'docker', 'dat...",0.319459,0.533546
182,182,182,MCKESSON,MCKESSON,3.5,7170.0,Data Architect,sap hana db architect,enterprise architect,Enterprise Architect,140400.000000,150400.000000,yearly,Mckesson Corporation is looking for a SAP HANA...,mckesson impact driven fortune company touches...,"{'business requirements', 'agile methodology',...",0.642668,0.632146
183,183,183,NAVEX Global,NAVEX Global,3.0,167.0,Data Architect,senior enterprise architect,enterprise architect,Senior Enterprise Architect,160000.000000,170000.000000,yearly,"Knowledge of the following technologies: AWS, ...",fun work company people truly believe committe...,"{'docker', 'application services', 'nosql', 'p...",1.048751,1.034763
184,184,184,Shure,Shure,4.0,91.0,Data Architect,architect sap business applications supply chain,ai architect,IT Architect,105464.943636,114102.670909,yearly,Ensure solution design proposal adhere to the ...,overview shure embarked multi year multi phase...,"{'business requirements', 'business intelligen...",-0.081135,-0.113461
186,186,186,GreenState Credit Union,GreenState Credit Union,3.3,45.0,Data Architect,data architect,data architect,IT Architect,119078.700000,129078.700000,yearly,Provide recommendations and take appropriate a...,greenstate credit union data architect ia nort...,"{'business requirements', 'data validation', '...",0.200922,0.194172
187,187,187,GM Financial,GM Financial,3.6,938.0,Data Architect,lead data architect,senior data architect,Lead Data Architect,112200.000000,122200.000000,yearly,Lead team in activities related to the data po...,overview gm financial gm financial wholly owne...,"{'data management', 'databricks', 'data migrat...",0.058406,0.052872
188,188,188,Apolis,Apolis,NaN,NaN,Data Architect,power bi architect data architect,data architect,Business Architect,145600.000000,166400.000000,yearly,Need an Onsite Senior Data Architect with know...,data architect msbi architectremotecontract jo...,"{'data modeling', 'business requirements', 'po...",0.750405,0.960813
189,189,189,Innova AM Enterprise solution Inc.,Innova AM Enterprise solution Inc.,NaN,NaN,Data Architect,senior data architect,senior data architect,Senior Data Architect,124800.000000,145600.000000,yearly,Data architect with experience in the Adobe ec...,data architect experience adobe ecosystem seni...,set(),0.319459,0.533546
190,190,190,BAE Systems,BAE Systems,3.8,1260.0,Data Architect,data architect,data architect,Data Warehouse Architect,122870.000000,132870.000000,yearly,Experience analyzing data and establishing dat...,job description opportunity join bae systems i...,"{'business requirements', 'data management', '...",0.279472,0.272051
191,191,191,Ehub Global solution,Ehub Global solution,NaN,NaN,Data Architect,data architect,data architect,Data Warehouse Architect,145600.000000,166400.000000,yearly,Data architect: 10 years (Preferred).\n Unders...,hi hope job title data architectlocation remot...,"{'data migration', 'data cleansing', 'data ext...",0.750405,0.960813
193,193,193,Employers,Employers,3.7,40.0,Data Architect,data architect,data architect,Data Warehouse Architect,105000.000000,115000.000000,yearly,Knowledgeable about current and emerging techn...,job brief remote opportunity data architect in...,"{'database management', 'data management', 'da...",-0.090768,-0.095028
195,195,195,P3 Adaptive,P3 Adaptive,5.0,3.0,Data Architect,principal azure data engineer,data engineer,Principal Software Engineer,110000.000000,120000.000000,yearly,We are actively hiring data engineers with an ...,p adaptive https p adaptive com pioneer data e...,"{'azure data lake', 'azure data factory', 'dat...",0.012825,0.007680
196,196,196,Boston Consulting Group,Boston Consulting Group,4.2,444.0,Data Architect,platinion lead architect,ai architect,IT Architect,180000.000000,190000.000000,yearly,We support our clientsâ€™ total digital transfor...,boston consulting group partners leaders busin...,"{'business development', 'devops', 'applicatio...",1.463122,1.445596
197,197,197,"CGI Group, Inc.","CGI Group, Inc.",3.6,3582.0,Data Architect,data architect,data architect,Data Warehouse Architect,83169.977966,89614.215254,yearly,Demonstrated experience with data governance a...,data architect position description data archi...,"{'business requirements', 'data storage', 'dat...",-0.543054,-0.616494
200,200,200,JCS Solutions LLC,JCS Solutions LLC,NaN,NaN,Data Architect,senior enterprise architect,enterprise architect,Senior Enterprise Architect,140424.315000,149314.315000,yearly,Develop and maintain documentation of data arc...,jcs seeking highly skilled motivated senior le...,"{'java', 'data storage', 'docker', 'data visua...",0.643172,0.609845
201,201,201,Peraton,Peraton,3.1,246.0,Data Architect,export data architect nsg radar ground program,data architect,Data Warehouse Architect,146000.000000,156000.000000,yearly,Previous working experience in government or i...,responsibilities overall assignment descriptio...,"{'data management', 'data strategy', 'computer...",0.758692,0.747180
204,204,204,Slalom Consulting,Slalom Consulting,3.8,172.0,Data Architect,data architect,data architect,Data Warehouse Architect,83169.977966,89614.215254,yearly,Assist and consult in designing multi-phase en...,hybrid position based raleigh requires living ...,"{'data management', 'data warehousing', 'data ...",-0.543054,-0.616494
205,205,205,AR Val services,AR Val services,NaN,NaN,Data Architect,data architect warehouse odi oic,data architect,Data Warehouse Architect,166400.000000,187200.000000,yearly,Experience modeling a data warehouse solution ...,primary responsibilities design overall data w...,"{'data integration', 'application development'...",1.181350,1.388079
206,206,206,Mattress Firm,Mattress Firm,3.2,2929.0,Data Architect,data engineer,data engineer,Data Engineer,110000.000000,120000.000000,yearly,Collaborate with data scientists and architect...,mattress fir excited announce opening remote d...,"{'data acquisition', 'data analysis', 'data ex...",0.012825,0.007680
207,207,207,TMH Solutions,TMH Solutions,NaN,NaN,Data Architect,data architect,data architect,Data Warehouse Architect,145600.000000,166400.000000,yearly,10+ years of data architecture-related experie...,position description internal description posi...,"{'data acquisition', 'data infrastructure', 'd...",0.750405,0.960813
208,208,208,BlackLine,BlackLine,3.1,27.0,Data Architect,data architect,data architect,Data Warehouse Architect,199300.000000,209300.000000,yearly,Big data: Architect big data platform using a ...,mark passionate leveraging data driven insight...,"{'data consistency', 'data architecture', 'dat...",1.862989,1.842050
209,209,209,Maxar Technologies,Maxar Technologies,3.6,418.0,Data Architect,data architect,data architect,Data Warehouse Architect,113000.000000,123000.000000,yearly,It will be your job to map data across systems...,maxar looking add data architect administrator...,"{'data storage', 'technology solutions', 'data...",0.074981,0.069305
210,210,210,Analog Devices,Analog Devices,3.9,872.0,Senior Machine Learning Engineer,senior engineer machine learning,senior machine learning engineer,Machine Learning Engineer,152532.336078,162532.336078,yearly,For positions requiring access to technical da...,come join analog devices adi place innovation ...,{'c'},0.894032,0.881365
211,211,211,Booz Allen Hamilton,Booz Allen Hamilton,3.9,2524.0,Senior Machine Learning Engineer,machine learning software engineer senior,senior machine learning engineer,Machine Learning Engineer,93300.000000,103300.000000,yearly,"3+ years of experience within data science, ma...",job description location washington dc remote ...,"{'database management', 'ci cd', 'java', 'c', ...",-0.333174,-0.335366
212,212,212,Salesforce,Salesforce,4.3,1106.0,Senior Machine Learning Engineer,senior software engineer machine learning,senior machine learning engineer,Senior Software Engineer,156800.000000,166800.000000,yearly,Youâ€™ll be working closely with other software ...,best candidate experience consider applying ma...,"{'java', 'algorithm design', 'computer science...",0.982452,0.969030
214,214,214,Cresta,Cresta,4.2,5.0,Senior Machine Learning Engineer,senior machine learning engineer chat agent,senior machine learning engineer,Machine Learning Engineer,160000.000000,170000.000000,yearly,Help shape the direction of machine learning a...,interested defining generative ai shape future...,"{'tensorflow', 'llm', 'c', 'docker', 'pytorch'...",1.048751,1.034763
215,215,215,Analog Devices,Analog Devices,3.9,872.0,Senior Machine Learning Engineer,senior engineer machine learning scientist,senior machine learning engineer,Machine Learning Engineer,152532.336078,162532.336078,yearly,"Create novel machine learning models, training...",come join analog devices adi place innovation ...,"{'c', 'computer vision', 'algorithms', 'machin...",0.894032,0.881365
217,217,217,Apple,Apple,4.1,12461.0,Senior Machine Learning Engineer,senior machine learning research engineer siml...,machine learning engineer,Machine Learning Engineer,127769.400000,136659.400000,yearly,Hands-on experience with theory and practice o...,summary posted oct weekly hours role number co...,"{'tensorflow', 'computer engineering', 'c', 'd...",0.380981,0.349892
219,219,219,ByteDance,ByteDance,4.0,113.0,Senior Machine Learning Engineer,senior software engineer machine learning,senior machine learning engineer,Senior Software Engineer,187040.000000,197040.000000,yearly,System Technology and Engineering (STE) team i...,founded bytedance mission inspire creativity e...,"{'java', 'visualization', 'data processing', '...",1.608980,1.590209
221,221,221,Crunchbase,Crunchbase,NaN,NaN,Senior Machine Learning Engineer,senior machine learning engineer,senior machine learning engineer,Machine Learning Engineer,170000.000000,180000.000000,yearly,You have hands-on experience in shipping machi...,crunchbase crunchbase helps million people wor...,"{'machine learning algorithms', 'machine learn...",1.255937,1.240179
222,222,222,CVS Health,CVS Health,3.2,45054.0,Senior Machine Learning Engineer,senior machine learning engineer,senior machine learning engineer,Machine Learning Engineer,94500.000000,104500.000000,yearly,"As a machine learning engineer, you will.\n 2+...",bring heart cvs health cvs health shares singl...,"{'data analysis', 'data processing', 'deep lea...",-0.308312,-0.310716
223,223,223,Apple,Apple,4.1,12461.0,Senior Machine Learning Engineer,senior machine learning engineer swe developer...,senior machine learning engineer,Machine Learning Engineer,152532.336078,162532.336078,yearly,Strong background data science and machine lea...,summary posted sep weekly hours role number te...,"{'computer science', 'machine learning', 'data...",0.894032,0.881365
225,225,225,Amgen,Amgen,4.0,1744.0,Senior Machine Learning Engineer,senior machine learning engineer,senior machine learning engineer,Machine Learning Engineer,142425.000000,152425.000000,yearly,Mentor junior data/machine learning engineer.\...,career category information systems job descri...,"{'tensorflow', 'java', 'docker', 'feature engi...",0.684623,0.673743
226,226,226,Standard AI,Standard AI,NaN,NaN,Senior Machine Learning Engineer,senior machine learning engineer computer vision,senior machine learning engineer,Machine Learning Engineer,152532.336078,162532.336078,yearly,Solve modeling problems at the cutting edge of...,standard ai transformed retail know autonomous...,"{'computer vision', 'machine learning', 'deep ...",0.894032,0.881365
227,227,227,Medidata Solutions,Medidata Solutions,3.6,94.0,Senior Machine Learning Engineer,senior application engineer machine learning,senior machine learning engineer,Senior Application Engineer,135000.000000,145000.000000,yearly,Understanding of common classical machine lear...,requisition id medidata powering smarter treat...,"{'tensorflow', 'agile methodology', 'docker', ...",0.530788,0.521221
228,228,228,SailPoint,SailPoint,4.1,28.0,Senior Machine Learning Engineer,senior machine learning ops engineer,senior machine learning engineer,Machine Learning Engineer,152532.336078,162532.336078,yearly,Help maintain a machine learning platform in p...,sailpoint leader identity security cloud enter...,"{'ci cd', 'aws sagemaker', 'docker', 'machine ...",0.894032,0.881365
229,229,229,Roku,Roku,3.1,26.0,Senior Machine Learning Engineer,senior software engineer machine learning,senior machine learning engineer,Senior Software Engineer,152532.336078,162532.336078,yearly,Experience with advanced machine learning tech...,teamwork makes stream work roku changing world...,"{'java', 'llm', 'c', 'algorithms', 'big data',...",0.894032,0.881365
230,230,230,IBR (Imagine Believe Realize),IBR (Imagine Believe Realize),NaN,NaN,Senior Machine Learning Engineer,senior machine learning engineer,senior machine learning engineer,Machine Learning Engineer,145000.000000,155000.000000,yearly,Design and create algorithms capable of capabl...,lead ai ml engineer able meet key criteria loc...,"{'tensorflow', 'java', 'data architecture', 'd...",0.737973,0.726638
231,231,231,Syndio,Syndio,NaN,NaN,Senior Machine Learning Engineer,senior machine learning software engineer,senior machine learning engineer,Machine Learning Engineer,151000.000000,161000.000000,yearly,Solid understanding of the complete machine le...,want empower organizations fairly equitably hi...,"{'ci cd', 'c', 'python', 'algorithms', 'contin...",0.862285,0.849888
233,233,233,Abacus.AI,Abacus.AI,NaN,NaN,Senior Machine Learning Engineer,senior software engineer machine learning,senior machine learning engineer,Senior Software Engineer,152532.336078,162532.336078,yearly,"As an ML engineer, they will also work cross f...",responsible implementing algorithms automated ...,"{'data management', 'data infrastructure', 'de...",0.894032,0.881365
234,234,234,Discord,Discord,4.3,8.0,Senior Machine Learning Engineer,senior software engineer machine learning engi...,machine learning engineer,Senior Software Engineer,127769.400000,136659.400000,yearly,We are a machine learning engineering team tha...,discord believe find place belong mission help...,"{'computer science', 'machine learning', 'gene...",0.380981,0.349892
236,236,236,US Heathcare Product Company,US Heathcare Product Company,NaN,NaN,Senior Machine Learning Engineer,sr data scientist machine learning engineer,senior machine learning engineer,Machine Learning Engineer,120889.140000,130889.140000,yearly,Machine learning: 3 years (Preferred).\n Role:...,designation ml engineer data scientist role ro...,"{'ci cd', 'devops', 'c family', 'sql', 'algori...",0.238432,0.231361
237,237,237,The Spur Group,The Spur Group,3.1,16.0,Senior Machine Learning Engineer,senior consultant machine learning ai engineer,senior machine learning engineer,Machine Learning Engineer,152532.336078,162532.336078,yearly,Proven experience in productionizing and deplo...,spur reply spur reply mission turn interaction...,"{'tensorflow', 'aws sagemaker', 'data analysis...",0.894032,0.881365
238,238,238,Cruise,Cruise,3.1,95.0,Senior Machine Learning Engineer,senior staff machine learning engineer perception,machine learning engineer,Machine Learning Engineer,234700.000000,244700.000000,yearly,"PhD in machine learning, computer vision, or r...",cruise self driving service designed cities lo...,"{'tensorflow', 'c', 'deep learning', 'computer...",2.596425,2.569225
239,239,239,Chan Zuckerberg Initiative,Chan Zuckerberg Initiative,4.6,5.0,Senior Machine Learning Engineer,senior machine learning engineer science,senior machine learning engineer,Machine Learning Engineer,190000.000000,200000.000000,yearly,Have a Masters in computer science with a focu...,ambitious mission solve society toughest chall...,"{'tensorflow', 'distributed computing', 'pytor...",1.670307,1.651013
240,240,240,IBM,IBM,3.9,32706.0,Senior Machine Learning Engineer,senior machine learning engineer,senior machine learning engineer,Machine Learning Engineer,124000.000000,134000.000000,yearly,Through increased investment and resources fro...,introduction position ibm weather company busi...,"{'ci cd', 'java', 'docker', 'feature engineeri...",0.302884,0.295263

In [68]:
synthetic_user_data

,Current Job,Next Job,Current Skills,Next Skills,Skill Gap,Current Min Salary,Current Max Salary,course title,Course Taken,Course Skills,top_10_course_numbers,top_10_course_score,random next job
0,director of product management,chief product officer,{c},"{problem solving, application design, analytic...","[problem solving, application design, analytic...",1.250301,1.234592,complete data science project management course,data mining,"{'data mining', 'data science', 'project manag...","[615, 974, 1542, 968, 2953, 323, 1437, 1240, 2...","{615: 0.311, 974: 0.28, 1542: 0.266, 968: 0.26...",0
1,business analyst,senior business analyst,"{java, sql}","{product lifecycle management, technology solu...","[product lifecycle management, technology solu...",-0.542432,-0.320986,avaya ip office server,artificial intelligence,{'artificial intelligence'},"[701, 1542, 1745, 1992, 1434, 1182, 1471, 1124...","{701: 0.212, 1542: 0.165, 1745: 0.165, 1992: 0...",0
2,data product manager,senior data product manager,"{analytics, project management, business analy...","{quantitative analysis, sql, machine learning,...","[sql, quantitative analysis, computer science,...",-0.413977,-0.415478,data analyst python beginners,undefined,"{'data visualization', 'python programming lan...","[1670, 1478, 1520, 2036, 892, 904, 788, 1763, ...","{1670: 0.354, 1478: 0.329, 1520: 0.295, 2036: ...",0
3,senior data analyst,data engineer,"{bigquery, python, sql, airflow, problem solvi...","{data processing, sql, apache kafka, data ware...","[data processing, data warehousing, computer s...",0.116418,0.110388,f rdan apache kafka z kurulum kullan java python,apache kafka,"{'apache kafka', 'java', 'python'}","[2563, 2135, 2525, 323, 2036, 1991, 1542, 1520...","{2563: 0.409, 2135: 0.285, 2525: 0.264, 323: 0...",0
4,database administrator,senior database administrator,"{data modeling, sql, data quality, pl sql, jav...","{technology solutions, sql, computer science, ...","[technology solutions, computer science, datab...",-1.320774,-1.404756,postgresql database administration masterclass,database administration,"{'database management systems', 'database admi...","[1783, 1233, 109, 49, 1124, 1292, 1592, 1998, ...","{1783: 0.584, 1233: 0.206, 109: 0.185, 49: 0.1...",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8055,chief product officer,big data engineer,"{product lifecycle management, analytics, data...","{data ingestion, data transformation, data pip...","[data processing, data ingestion, data warehou...",0.132992,0.126822,apache spark hands specialization big data ana...,apache spark,"{'big data analytics', 'data science', 'big da...","[303, 1991, 1503, 1728, 1634, 1722, 904, 927, ...","{303: 0.425, 1991: 0.4, 1503: 0.391, 1728: 0.3...",0
8056,data architect,data manager,"{data warehousing, computer science, data arch...","{technology solutions, python, computer scienc...","[technology solutions, data analysis, data man...",0.609519,0.599280,getting started data management,database management,"{'data integration', 'big data', 'python progr...","[323, 1542, 1670, 446, 755, 444, 1645, 1091, 1...","{323: 0.401, 1542: 0.366, 1670: 0.345, 446: 0....",0
8057,machine learning manager,chief technology officer,"{llm, data pipelines, artificial intelligence,...","{computer science, analytics, machine learning...",[big data],0.380981,0.349892,big data programming languages big data vs dat...,big data,"{'data science', 'big data'}","[289, 841, 1043, 1119, 1690, 1526, 680, 1520, ...","{289: 0.796, 841: 0.66, 1043: 0.64, 1119: 0.50...",1
8058,data science manager,director of data science,"{cloud computing, sql, python, problem solving...","{sql, ad hoc analysis, data quality, data gove...","[ad hoc analysis, data quality, data governanc...",0.634381,0.623930,predictive analytics model term deposit invest...,undefined,"{'visualization', 'data analysis', 'statistica...","[1957, 1922, 1971, 1861, 323, 961, 1395, 792, ...","{1957: 0.342, 1922: 0.331, 1971: 0.304, 1861: ...",0
8059,database manager,data architect,"{data processing, sql, database marketing, dat...","{computer science, data management, data archi...","[computer science, data architecture, data str...",0.831102,0.803186,course data architecture z tutorial,data architecture,"{'data modeling', 'data architecture', 'data v...","[1550, 881, 1437, 1991, 1885, 2036, 1628, 2062...","{1550: 0.505, 881: 0.403, 1437: 0.326, 1991: 0...",0

In [40]:

synthetic_user_data.to_csv("/Users/nyzy/Library/CloudStorage/GoogleDrive-nitinmali999@gmail.com/.shortcut-targets-by-id/1yEbTjc1DwwTDd2CB86Il6F-3DhFUn8pU/Data Mining/data/processed_datasets/synthetic_data_half_cleaned_v3.csv")

In [43]:
import ast 
df = synthetic_user_data.copy()
# Fill missing values if necessary
df.fillna({'Course Taken': 'no course','course title': 'no course'}, inplace=True)
df["Course Taken"]=df["Course Taken"].apply(lambda x:x.replace("NAN","No Course"))

df["Course Skills"]=df["Course Skills"].apply(lambda x:ast.literal_eval(x))
df["Course Skills"].apply(lambda x: x if len(x)!=0 else "no skills")
#df["Course title"]=df["Course title"].apply(lambda x:x.replace("NAN","No Course"))
def set_to_string(skill_set):
    if not skill_set:  # Checks if the set is empty
        return 'no skills' 
    # Check if skill_set is a string that needs to be evaluated
    if isinstance(skill_set, str):
        try:
            # Try to evaluate the string as a set
            skill_set = ast.literal_eval(skill_set)
        except (ValueError, SyntaxError):
            # Handle cases where the string is not a valid set
            pass  # You might want to return a default value or handle this case as needed
    # Convert to string if it's a set or list
    if isinstance(skill_set, (set, list)):
        return ', '.join(skill_set)
    return skill_set 

set_columns = ['Current Skills', 'Next Skills', 'Skill Gap', 'Course Skills']
for col in set_columns:
    print(col)
    #df[col]=df[col].apply(lambda x:ast.literal_eval(x))
    df[col] = df[col].apply(set_to_string)

Current Skills
Next Skills
Skill Gap
Course Skills

In [44]:
#df.to_csv("/Users/nyzy/Library/CloudStorage/GoogleDrive-nitinmali999@gmail.com/.shortcut-targets-by-id/1yEbTjc1DwwTDd2CB86Il6F-3DhFUn8pU/Data Mining/data/processed_datasets/synthetic_data_cleaned_v5.csv")

In [64]:
df[['Current Job', 'Next Job', 'Current Skills','Next Skills']].drop_duplicates()

,Current Job,Next Job,Current Skills,Next Skills
0,director of product management,chief product officer,c,"problem solving, application design, analytics..."
1,business analyst,senior business analyst,"java, sql","product lifecycle management, technology solut..."
2,data product manager,senior data product manager,"analytics, project management, business analys...","quantitative analysis, sql, machine learning, ..."
3,senior data analyst,data engineer,"bigquery, python, sql, airflow, problem solvin...","data processing, sql, apache kafka, data wareh..."
4,database administrator,senior database administrator,"data modeling, sql, data quality, pl sql, java...","technology solutions, sql, computer science, d..."
...,...,...,...,...
8045,senior data analyst,data engineer,"data analysis, business requirements, acceptan...","data processing, data modeling, data infrastru..."
8046,data manager,director of analytics,"test data, problem solving, data quality, data...","statistical modeling, machine learning, applic..."
8050,data architect,data manager,"sql, business requirements, power bi, data mod...","data management plan, data capture, applicatio..."
8051,data architect,data manager,"data warehousing, computer science, data archi...","data management, project management, statistic..."
8057,machine learning manager,chief technology officer,"llm, data pipelines, artificial intelligence, ...","computer science, analytics, machine learning,..."

In [62]:
df_j_cleaned[["title_cleaned","skills_tagged"]]

,title_cleaned,skills_tagged
17,chief information officer,"{'data management', 'technology solutions', 'p..."
22,chief information officer,"{'data driven decision making', 'http'}"
24,chief information officer,"{'program analysis', 'statistical methods', 'e..."
33,chief strategy officer,"{'business development', 'data analysis', 'pro..."
36,chief technology officer,set()
...,...,...
7611,chief technology officer,"{'project management', 'computer science'}"
7613,chief technology officer,"{'devops', 'cloud operations', 'project manage..."
7616,chief technology officer,{'cloud infrastructure'}
7617,chief technology officer,"{'deep learning', 'cloud computing', 'natural ..."
7618,chief technology officer,{'business requirements'}

In [14]:
# convert text to numeric using tfidf [not used currently]

import spacy

# Load SpaCy model
nlp = spacy.load('en_core_web_md')

def preprocess_text(text):
    doc = nlp(text)
    return " ".join(token.lower_ for token in doc if not token.is_punct and not token.is_stop)

text_columns = ['Current Job', 'Next Job', 'Current Skills', 'Next Skills', 'Skill Gap', 'course title', 'Course Skills','Course Taken']
for col in text_columns:
    print(col)
    #df[col] = df[col].apply(preprocess_text)

from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

# Assuming df is your DataFrame and text_columns are the columns to vectorize
tfidf_vectorizer = TfidfVectorizer()

# Create a DataFrame to hold all TF-IDF features
tfidf_df = pd.DataFrame()

for col in ["course title"]:
    # Apply TF-IDF transformation
    tfidf_matrix = tfidf_vectorizer.fit_transform(df[col])

    # Convert to dense format and create a DataFrame
    tfidf_dense = pd.DataFrame(tfidf_matrix.todense(), columns=tfidf_vectorizer.get_feature_names_out())

    # Prefix column names with the original column name for clarity
    tfidf_dense.columns = [f"{col}_{feature}" for feature in tfidf_dense.columns]

    # Concatenate with the main TF-IDF DataFrame
    tfidf_df = pd.concat([tfidf_df, tfidf_dense], axis=1)

# Combine the original DataFrame with the TF-IDF features DataFrame
final_df = pd.concat([df, tfidf_df], axis=1)

Current Job
Next Job
Current Skills
Next Skills
Skill Gap
course title
Course Skills
Course Taken

In [15]:
final_df

,Current Job,Next Job,Current Skills,Next Skills,Skill Gap,course title,Course Taken,Course Skills,random next job,course title_ai,course title_bonus,course title_chatgpt,course title_learning,course title_machine,course title_python
0,ai project manager,data scientist,"project management, problem solving, microsoft...","analytics, sql, python, algorithms, data stora...","d, h, u, q, y",machine learning z ai python r chatgpt bonus,data science,"logistic regression, multiple linear regressio...",1,0.408248,0.408248,0.408248,0.408248,0.408248,0.408248
1,product analyst,data product manager,,"project management, analytics, agile software ...","w, ', v, o, }, {, , g, b, c, a, j, m, ,, p, d...",machine learning z ai python r chatgpt bonus,data science,"logistic regression, multiple linear regressio...",0,0.408248,0.408248,0.408248,0.408248,0.408248,0.408248
2,data analyst,director of data engineering,"microsoft office, data synchronization, data m...","computer science, test data management, devops","u, v",machine learning z ai python r chatgpt bonus,data science,"logistic regression, multiple linear regressio...",0,0.408248,0.408248,0.408248,0.408248,0.408248,0.408248
3,unmatched,database administrator,"problem solving, data collection","database administration, sql",q,machine learning z ai python r chatgpt bonus,data science,"logistic regression, multiple linear regressio...",1,0.408248,0.408248,0.408248,0.408248,0.408248,0.408248
4,senior of data science,statistician,"data analysis, analytics, business intelligenc...","data analysis, statistical analysis, data mana...",no skills,machine learning z ai python r chatgpt bonus,data science,"logistic regression, multiple linear regressio...",1,0.408248,0.408248,0.408248,0.408248,0.408248,0.408248
5,unmatched,machine learning engineer,"problem solving, project management, data mana...","data mining, bigtable, mapreduce, python, comp...","h, u, f",machine learning z ai python r chatgpt bonus,data science,"logistic regression, multiple linear regressio...",1,0.408248,0.408248,0.408248,0.408248,0.408248,0.408248
6,director of product management,chief product officer,"technology solutions, problem solving, risk an...","analytics, data driven decision making, produc...","d, f",machine learning z ai python r chatgpt bonus,data science,"logistic regression, multiple linear regressio...",0,0.408248,0.408248,0.408248,0.408248,0.408248,0.408248
7,business analyst,business intelligence analyst,"business analysis, qualitative analysis, sql","analytics, business intelligence","g, c",machine learning z ai python r chatgpt bonus,data science,"logistic regression, multiple linear regressio...",0,0.408248,0.408248,0.408248,0.408248,0.408248,0.408248
8,business intelligence manager,director of business intelligence,"data analysis, analytics, problem solving, bus...","data analysis, analytics, business intelligenc...","k, f, w",machine learning z ai python r chatgpt bonus,data science,"logistic regression, multiple linear regressio...",0,0.408248,0.408248,0.408248,0.408248,0.408248,0.408248
9,director of analytics,unmatched,"analytics, data science, computer science, com...","data structures, computer science, data integr...",k,machine learning z ai python r chatgpt bonus,data science,"logistic regression, multiple linear regressio...",1,0.408248,0.408248,0.408248,0.408248,0.408248,0.408248